:root {
  --md-primary-fg-color: #0D9488;
}

[data-md-color-scheme="default"] {
  --md-default-bg-color:          #F1F5F9; /* Slate 100 */
  --md-default-bg-color--light:   #E7E5E4; /* Stone 200 (Sidebars/Search) */
  --md-code-bg-color:             #E2E8F0; /* Slate 200 */
  --md-typeset-color:             #1E293B; /* Deep Charcoal Text */
}

[data-md-color-scheme="slate"] {
  --md-default-bg-color:          #0F172A; /* Slate 900 */
  --md-default-bg-color--light:   #1E293B; /* Slate 800 (Sidebars/Search) */
  --md-code-bg-color:             #1E293B;
  --md-typeset-color:             #E2E8F0; /* Soft Gray Text */
  
  --md-typeset-a-color:           #2DD4BF; 
}

:root {
  --md-primary-fg-color:        #0D9488;
  --md-primary-fg-color--dark:  #0B7A70;
}